@model BestStudentCafedra.Models.TeacherRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TeacherRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GraduationWorkId" class="control-label"></label>
                <select asp-for="GraduationWorkId" class="form-control" asp-items="ViewBag.GraduationWorkId"></select>
                <span asp-validation-for="GraduationWorkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivation" class="control-label"></label>
                <input asp-for="Motivation" class="form-control" />
                <span asp-validation-for="Motivation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestType" class="control-label"></label>
                <select asp-for="RequestType" class="form-control"></select>
                <span asp-validation-for="RequestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RejectReason" class="control-label"></label>
                <input asp-for="RejectReason" class="form-control" />
                <span asp-validation-for="RejectReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatingDate" class="control-label"></label>
                <input asp-for="CreatingDate" class="form-control" />
                <span asp-validation-for="CreatingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseDate" class="control-label"></label>
                <input asp-for="ResponseDate" class="form-control" />
                <span asp-validation-for="ResponseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsePersonName" class="control-label"></label>
                <input asp-for="ResponsePersonName" class="form-control" />
                <span asp-validation-for="ResponsePersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
