@model BestStudentCafedra.Models.GraduationWork

@{
    ViewData["Title"] = "Изменение данных о выпускной работе";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScientificAdviserId" class="control-label"></label>
                <select asp-for="ScientificAdviserId" class="form-control" asp-items="ViewBag.ScientificAdviserId">
                    <option value="">Выберите научного руководителя...</option>
                </select>
                <span asp-validation-for="ScientificAdviserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewerId" class="control-label"></label>
                <select asp-for="ReviewerId" class="form-control" asp-items="ViewBag.ReviewerId">
                    <option value="">Выберите рецензента...</option>
                </select>
                <span asp-validation-for="ReviewerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку работ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
