@{
    ViewData["Title"] = "Ожидайте подтверждения";
}

<div class="text-center">
    <h1 class="display-4">Ожидайте подтверждения</h1>
    <p>Ваш аккаунт будет подвержден в ближайшее время.</p>
    <p>Спасибо за обращение!</p>
</div>
