@model BestStudentCafedra.Models.ProposedTopic

@{
    ViewData["Title"] = "Темы";
}

<h1>Темы</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Name" class="form-control" value="@Model.Name" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

<hr />
<div class="text-center">
    @foreach (var item in (List<ProposedTopic>)ViewData["topics"])
    {
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" class="form-control" value="@item.Id" />
            <input class="btn textstr" type="submit" value="@Html.DisplayFor(modelItem => item.Name)"/>
        </form><hr/>
    }
</div>